*{
	margin: 0;
	padding: 0;
}
html{
	/*overflow: hidden;*/
}
html, body{
	height: 100%;
}
::-webkit-scrollbar { 
    /*display: none; */
}
.scrollblock{
	position: relative;
}
.block{
	width: 100%;
	overflow: hidden;
}
body{
	width: 100%;
}
section#header{
	background-color: red;
}
section#block1{
	background-color: black;
}
section#block2{
	background-color: violet;
}
section#footer{
	background-color: yellow;
}
.story{
	position: relative;
	margin: 0 auto;
    min-width: 980px;
    width: 980px;
}
.article{
	background: #fff;
	margin: auto;
	width: 200px;
	min-height: 200px;
}
.bg{
	background: #fff url(../images/pika.png) no-repeat;
    position: absolute;
    /*background-attachment: fixed;*/
    background-position: 50% 50%;
    z-index: 200;
    top: 0;
    /*left: 0;*/
    width: 100%;
    height: 100%;
}
.nav{
	z-index: 2000;
	position: fixed;
	top: 0;
	left: 0;
}
.nav ul li{
	display: inline-block;
}
.nav ul li a{
	text-decoration: none;
	color: #fff;
}
.nav ul li a.current{
	color: green;
}