*{
	margin: 0;
	padding: 0;
}
.block{
	width: 100%;
	min-height: 650px;
}
body{
	width: 100%;
}
header{
	background-color: red;
}
section#block1{
	background-color: black;
}
footer{
	background-color: yellow;
}
.nav{
	position: fixed;
	top: 0;
	left: 0;
}
.nav ul li{
	display: inline-block;
}