*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
html, body{
	height: 100%;
}
::-webkit-scrollbar { 
    /*display: none; */
}
.scrollblock{
	position: relative;
}
.block{
	width: 100%;
	overflow: hidden;
}
body{
	width: 100%;
}
section#header{
	background-color: red;
}
section#block1{
	background: green;
	background: url(../images/test.jpg) no-repeat;
	background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    top: 0;
    left: 0;
}
section#footer{
	background-color: yellow;
}
.story{
	position: relative;
	margin: 0 auto;
    min-width: 980px;
    width: 980px;
    z-index: 2;
}
.thedog{
	bottom: 4%;
	right: 150%;
	position: absolute;
}
.thedog img{
	width: 175px;
}
.bg{
    position: absolute;
    top: 20%;
    left: 80%;
    z-index: 1;
}
.bg img{
	width: 150px;
}
.nav{
	z-index: 2000;
	position: fixed;
	top: 0;
	left: 0;
}
.nav ul li{
	display: inline-block;
}
.nav ul li a{
	text-decoration: none;
	color: #fff;
}
.nav ul li a.current{
	color: green;
}
.detector{
	position: absolute;
	left: 0;
}